In [28]:
import pandas as pd
import numpy as np

In [29]:
data = 'Resources/purchase_data.csv'
purch = pd.read_csv(data)

In [30]:
ttl_ppl = len(purch["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[ttl_ppl]})
player_count

   Total Players
0            576

In [41]:
number_items = len((purch["Item ID"]).unique())
average_price = (purch["Price"]).mean()
ttl_purch = (purch["Purchase ID"]).count()
ttl = (purch["Price"]).sum()
purch_df = pd.DataFrame({"Number of Unique Items":[number_items], "Average Purchase Price":[average_price], "Total Number of Purchases":[ttl_purch], "Total Revenue":[ttl]})
print(purch_df)

   Number of Unique Items  Average Purchase Price  Total Number of Purchases  \
0                     179                3.050987                        780

   Total Revenue
0        2379.77

In [43]:
gender = purch.groupby("Gender")
ttl_gender = gender.nunique()["SN"]
percent = ttl_gender / ttl_ppl * 100
gender_demo = pd.DataFrame({"Percent of Players": percent, "Total Count": ttl_gender})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percent of Players":"{:.2f}"})

In [ ]:
count = gender["Purchase ID"].count()
avg_purch = gender["Price"].mean()
purch_ttl = gender["Price"].sum()
avg_purch_gend = purch_ttl/ttl_gender
gender_demo = pd.DataFrame({"Purchase Count": count, "Average Purchase Price": avg_purch, "Average Purchase Value": purch_ttl, "Average Purchase Total per Person": avg_purch_gender})
gender_demo.index.name = "Gender"
gender_demo.style.format({"Average Purchase Value": "${:,.2f}", "Average Purchase Price": "${:,.}"})