In [28]:
import pandas as pd
import numpy as np

In [29]:
data = 'Resources/purchase_data.csv'
purch = pd.read_csv(data)

In [30]:
ttl_ppl = len(purch["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[ttl_ppl]})
player_count

   Total Players
0            576

In [38]:
number_items = len((purch["Item ID"]).unique())
average_price = (purch["Price"]).mean()
ttl_purch = (purch["Purchase ID"]).count()
ttl = (purch["Price"]).sum()
purch_df = pd.DataFrame({"Number of Unique Items":[number_items], "Average Purchase Price":[average_price], "Total Number of Purchases":[ttl_purch], "Total Revenue":[ttl]})

print(purch_df)

   Number of Unique Items  Average Purchase Price  Total Number of Purchases  \
0                     179                3.050987                        780

   Total Revenue
0        2379.77