In [28]:
import pandas as pd
import numpy as np

In [29]:
data = 'Resources/purchase_data.csv'
purch = pd.read_csv(data)

In [30]:
ttl_ppl = len(purch["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[ttl_ppl]})
player_count

   Total Players
0            576

In [41]:
number_items = len((purch["Item ID"]).unique())
average_price = (purch["Price"]).mean()
ttl_purch = (purch["Purchase ID"]).count()
ttl = (purch["Price"]).sum()
purch_df = pd.DataFrame({"Number of Unique Items":[number_items], "Average Purchase Price":[average_price], "Total Number of Purchases":[ttl_purch], "Total Revenue":[ttl]})
print(purch_df)

   Number of Unique Items  Average Purchase Price  Total Number of Purchases  \
0                     179                3.050987                        780

   Total Revenue
0        2379.77

In [43]:
gender = purch.groupby("Gender")
ttl_gender = gender.nunique()["SN"]
percent = ttl_gender / ttl_ppl * 100
gender_demo = pd.DataFrame({"Percent of Players": percent, "Total Count": ttl_gender})
gender_demo.index.name = None
gender_demo.sort_values(["Total Count"], ascending = False).style.format({"Percent of Players":"{:.2f}"})

In [45]:
count = gender["Purchase ID"].count()
avg_purch = gender["Price"].mean()
purch_ttl = gender["Price"].sum()
avg_purch_gend = purch_ttl/ttl_gender
gender_demo = pd.DataFrame({"Purchase Count": count, "Average Purchase Price": avg_purch, "Average Purchase Value": purch_ttl, "Average Purchase Total per Person": avg_purch_gend})
gender_demo.index.name = "Gender"
gender_demo.style.format({"Average Purchase Value": "${:,.2f}", "Average Purchase Price": "${:,.2f}", "Average Purchase Total per Person": "${:,.2f}"})

In [63]:
age_bin = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_name = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]
purch["Age Group"] = pd.cut(purch["Age"], age_bin, labels=group_name)
purch
age = purch.groupby("Age Group")
age_ttl = age["SN"].nunique()
age_count = age["Purchase ID"].count()
avg_age = age["Price"].mean()
avg_age_ttl = age["Price"].sum()
avg_purch_age = avg_age_ttl / age_ttl
age_demo = pd.DataFrame({"Purchase Count": age_count, "Average Purchase Price": avg_age, "Average Purchase Value": age_ttl, "Average Purchase Total per Person": avg_purch_age})
age_demo.index.name = "Age"
age_demo.style.format({"Average Purchase Value": "${:,.2f}", "Average Purchase Price": "${:,.2f}", "Average Purchase Total per Person": "${:,.2f}"})

In [70]:
spender = purch.groupby("SN")
spend_count = spender["Purchase ID"].count
avg_spend_price = spender["Price"].mean()
ttl_spend = spender["Price"].sum()
top_spender = pd.DataFrame({"Purchase Count": spend_count, "Average Purchase Price": avg_spend_price, "Total Purchase Value": ttl_spend})
format_spender = top_spender.sort_values(["Total Purchase Value"], ascending=False).head()
format_spender.style.format({"Average Purchase Total": "${:,.2f}", "Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

In [72]:
items = purch[["Item ID", "Item Name", "Price"]]
item_stat = items.groupby(["Item ID", "Item Name"])
item_count = item_stat["Price"].count()
item_value = item_stat["Price"].sum()
item_price = item_value/item_count
top_items = pd.DataFrame({"Purchse Count": item_count, "Item Price": item_price, "Total Purchase Value": item_value})
top_format = top_items.sort_values(["Purchase Count"], ascending=False).head()
top_format.style.format({"Average Purchase Total": "${:,.2f}", "Average Purchase Price": "${:,.2f}", "Total Purchase Value": "${:,.2f}"})

KeyError: 'Purchase Count'